@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #FFC0A1, #FEDEE1)
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #2e2e3a7c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0A014F;
    text-align: center;
    text-shadow: 1px 1px 2px #2e2e3a7c;
}

h2 {
    color: #9BBDF9;
}

p {
    text-align: justify;
}